<h1>Angular Query String Demo</h1>
<table class="table">
    <tr>
        <th>Author</th>
        <th>Title</th>
    </tr>
    <tr>
        <td><input type="text" ng-model="filters.author" ng-model-options="{ debounce: 250 }" ng-change="update('author')"></td>
        <td><input type="text" ng-model="filters.title" ng-model-options="{ debounce: 250 }" ng-change="update('title')"></td>
    </tr>
    <tr ng-repeat="book in books">
        <td>{{ book.author }}</td>
        <td>{{ book.title }}</td>
    </tr>
</table>
